# Node
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
**/dist/
/out/

# Angular
**/.angular/

# Environment files
.env
.env.*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Coverage
coverage/

# Misc
*.tgz
*.swp
